/************************************************
				CUSTOM SETTINGS 
************************************************/

/*-------------------COLOURS------------------*/

$midnight: #2c3e50;
$clouds: #ecf0f1;
$pumpkin: #c0392d;
$primary-color: $pumpkin;
// $secondary-color: $asbestos;
// $succes-color: $grass;
// $alert-color: $blood;

/*-------------------SETTINGS------------------*/

$row-width: rem-calc(1050);
$total-columns: 8;

$anchor-font-color: $clouds;

$header-font-family: $sintony;
$header-font-weight: 700;

$body-font-family: $lato;
$body-font-color: $midnight;