
@import "fonts";
@import "settings";
@import "custom";
@import "bower_components/foundation/scss/normalize";
@import "bower_components/foundation/scss/foundation";

// Or selectively include components
// @import 
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/***************************************
			GLOBAL STYLING
***************************************/
body {
	background-color: whitesmoke;
}
.hero {
	padding-top: 3em;
}
.error {
	margin: 0.3em 0;
}
.circle img {
	border-radius: 50%;
	border: 5px solid $primary-color;
}

/***************************************
			HEADER STYLING
***************************************/
header {
	#top-bar {
		display: block;
		background-color: $alert-color;
		#logo {
			font-size: 2.5rem;
			text-transform: uppercase;
			a {
				color: $primary-color;
			}
		}
		#menu {
			list-style: none;
			float: right;
			margin: 1rem 0;
			li {
				display: inline-block;
				text-transform: uppercase;
				line-height: 1.5rem;
				margin: 0 0.5rem;
				a {
					display: block;
					font-weight: bold;
				}
			}
		}
	}

}
/***************************************
			CONTENT STYLING
***************************************/
#content {
	float: left;
	width: 70%;
	min-height: 100%;
	h2 {
		text-align: center;
	}
}
#post {
	background-color: white;
	height: 100%;
	width: 90%;
	margin: 2em auto;
	h3 {
		text-transform: uppercase;
		font-size: 2.5rem;
	}
	#meta p {
		display: inline-block;
		margin-right: 0.5em;
		font-size: 0.8rem;
	}
}
/***************************************
			SIDEBAR STYLNG
***************************************/
#sidebar {
	float: left;
	width: 30%;
	background-color: $primary-color;
	color: $secondary-color;
	h3, h4, h5 {
		text-align: center;
	}
	section {
		margin-top: 3em;
		&:first-of-type {
			margin-top: 0;
		}
	}
}
/***************************************
			SINGLE.PHP STYLING
***************************************/
.single {
	#meta {
		p {
			display: inline-block;
			margin-right: 0.5em;
		}
	}
}

/***************************************
			FOOTER STYLING
***************************************/

/***************************************
			TABLET STYLING
***************************************/
@media #{$medium-only} {
}
/***************************************
			MOBILE STYLING
***************************************/
@media #{$small-only} {

}